.bgimage{
	background:url('http://10.10.4.92:8001/images/galaxy3.jpg') no-repeat center fixed;
	background-size:100%;
}
.wificolor{
	color: rgb(26, 179, 148);
}
.btn-style{
	background-color: #1ab394;
   border-color: #1ab394;
   color: #FFFFFF;
} 