<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
             http://www.springframework.org/schema/beans/spring-beans.xsd  
             http://www.springframework.org/schema/mvc
             http://www.springframework.org/schema/mvc/spring-mvc.xsd  
             http://www.springframework.org/schema/context  
             http://www.springframework.org/schema/context/spring-context.xsd 
             http://www.springframework.org/schema/aop 
             http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"  default-lazy-init="true">  

<!--     添加注解驱动   -->
    <mvc:annotation-driven />  
<!--     默认扫描的包路径   -->
    <context:component-scan base-package="com.hik.controller">
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:include-filter>
    </context:component-scan>  
    
<!--     <context:component-scan base-package="com.hik.framework.controller"/>  -->
<!-- 	AOP Interceptor config -->
<!--     mvc:view-controller可以在不需要Controller处理request的情况，转向到设置的View   -->
<!--     像下面这样设置，如果请求为/，则不通过controller，而直接解析为/index.jsp   -->
<!--     <mvc:view-controller path="/" view-name="index" />   -->
    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">  
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>  
<!--         配置jsp路径前缀   -->
        <property name="prefix" value="/pages/"></property>  
<!--         配置URl后缀   -->
        <property name="suffix" value=".jsp"></property>  
    </bean>  
     <mvc:default-servlet-handler/>
     <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="maxUploadSize" value="10485760" />
	</bean>
     <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
       <property name="locations">  
           <list>
               <value>classpath:configuration.properties</value>  
           </list>
       </property>  
    </bean>
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">  
        <property name="properties" ref="configProperties" />  
    </bean> 
<!--     <aop:aspectj-autoproxy proxy-target-class="true"/> -->
<!--     <aop:aspectj-autoproxy/> -->
<!--      <aop:config>   -->
<!--         <aop:aspect id="TestAspect" ref="testaspect">  -->
<!--             配置com.spring.service包下所有类或接口的所有方法   -->
<!--             <aop:pointcut id="businessService"   -->
<!--                 expression="execution(* com.hik.framework.controller..*.*(..)) or execution(* com.hik.controller..*.*(..))"/>   -->
<!--             <aop:before pointcut-ref="businessService" method="doBefore"/>   -->
<!--             <aop:after pointcut-ref="businessService" method="doAfter"/>   -->
<!--             <aop:around pointcut-ref="businessService" method="doAround"/>   -->
<!--             <aop:after-throwing pointcut-ref="businessService" method="doThrowing" throwing="ex"/>   -->
<!--         </aop:aspect>   -->
<!--     </aop:config>  -->
<!--     <bean id="testaspect" class="com.hik.aspect.TestAspect"/> -->
</beans> 